/*buttons*/
.button {
	min-width: 167px;
	padding: 0 14px;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	position: relative;
	text-decoration: none;
	height: 48px;
	line-height: 48px;
	color: #fff !important;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	background: #f93f3f;
	border: 0px solid #c10e0e !important;

	&.btn-hover,
	&:hover{
		background: #ff6565;
	}
	&.btn-gray{
		background: #292929;
		&:hover{
			background: #514f4f;			
		}
	}
}