%input{	
	display: block;
	width: 100%;
	outline: none;
	border: 1px solid #eaeaea;
	background: #f7f7f7;
	font-family: 'FuturaPT';
}
@mixin placeholder($color){
	&::-webkit-input-placeholder {
		color: #{$color};
	}
	&:-moz-placeholder {
		color: #{$color};
	}
	&::-moz-placeholder {
		color: #{$color};
	}
	&:-ms-input-placeholder {
		color: #{$color};
	}
}

input:not([type="submit"]){
	@extend %input;
	height: 46px;
	line-height: 46px;
	padding: 5px 15px 5px 24px;
	font-size: 11px;

	@include placeholder(#626262);

	&.search{
		color:#fff;
		font-size: 16px;
		background: transparent;
		border: 1px solid transparent;
		height: 60px;
		line-height: 60px;
		padding: 0 62px 0 27px; 
		&:after{
			
		}
	}
}

[type="submit"] {
	@extend .button; 
	width: auto;
	min-width: auto;
	outline: none;
}

textarea{	
	resize: none;
	@extend %input;
	@include placeholder(#626262);
	padding: 15px 15px 10px 24px;
	font-size: 11px;	
}

select{
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    border-color: #dedede;
    border-radius: 5px;
    background: #fff;
    width: 100%;
} 
.selectBox {
	display: inline-block;
	position: relative;
	width: 284px;
	height: 45px;
	line-height: 45px;
	font-size: 14px;
	color: #000;
	text-decoration: none;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(222, 222, 222);
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	cursor: pointer;
}
.selectBox:hover {
	text-decoration: none;
	color: #000;
}
.selectBox-label {
	padding: 0 15px 0 15px;
}
.selectBox-arrow {
	position: absolute;
	left: auto;
	right: 15px;
	top: 50%;
	margin-top: -3.5px;
	width: 12px;
	height: 7px;
	overflow: hidden;
	cursor: pointer;
	background: url(../images/icon-arrow-down.png) 0 0 no-repeat;
}
.selectBox-dropdown-menu {
	position: absolute;
	list-style: none;
	font-size: 14px;
	line-height: 20px;
	background: #fff;
    margin: -3px 0px 0px 0px;
    z-index: 3;
	padding: 0;
	border-style: solid;
	border-width: 1px;
	border-top: 0;
	border-color: rgb(222, 222, 222);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.selectBox-dropdown-menu li {
	display: block;
	line-height: 40px;
}
.selectBox-dropdown-menu li a {
	display: block;
	padding: 0 2px;
	color: #000;
	text-decoration: none;
	cursor: pointer;	
}
.selectBox-dropdown-menu li a:hover {
	color: #fff;	
	text-decoration: none;
	background: #333;
}