
body *{
	-moz-box-sizing: border-box; 
    box-sizing: border-box;
}

.container {
	margin: 0 auto;
	padding: 0 20px;
	position: relative;
	z-index: 1;
	@extend %clear;
}

.main {
	padding-top: 40px;
	padding-bottom: 70px;
	.sidebar {
		width: pxtopercent(211);
		margin-right: pxtopercent(67);
		float: left;
	}
	.content {
		float: left;
		width: pxtopercent(663);
	}
}

.footer {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	z-index:2;
	overflow:hidden;
	&_placeholder{
		height: 200px;
	}
}

