@media (min-width: 980px) {
	.container {
		width: 980px;
	}
}

@media (max-width:980px){	
	.footer-menu ul li {
	    padding: 0 6.5px;
	}
} 

@media (min-width:768px){ 
	.navbar-toggle {
		display: none;
	}
	.navbar-collapse.collapse {
		display: block !important;
		height: auto !important;
		padding-bottom: 0;
		overflow: visible !important;
	}
}

@media (max-width:768px){ 
	.header{
		&-phone{
			display: none;
		}
		&-logo{
			width: 380px;
			margin-left: 0;
			padding: 35px 0;
		}
	}
	.header-menu{
		.navbar{
			border: 0;	
			&-nav{
				margin-bottom: 15px;
				width: 100%;
			}
			&-search{
				border: 1px solid #3e3f40;	
				border-bottom: 0;		
				width: 100%;			
			}
		}
		ul{
			li{
				float: none;
				line-height: 40px;
			}
		}
	}
	.footer-menu{
		display: none;
	}
	.footer{
		&-phone{
    		width: 50%;
		}
	}
	.main {
		.sidebar {
			padding-top: 70px;
			width: 100%;
			float: none;
		}
		.content {
			width: 100%;
			float: none;
		}
	}
	.ctext{
		dl{
		    float: none;
		    margin-left: auto;
		    margin-right: auto;
		}
	}
	.board{
		&-item{
		    padding-bottom: 20px;
   			margin-bottom: 20px;

			&-head{
				display: block;
			    margin-bottom: 12px;
			    &:after{
			    	content: none;
			    }
			}
			&-image{
				display: block;
				float: left;
				img{
				}
			}	
			&-text{
				display: block;
			    margin-left: 141px;
			}
			&-body{
			    margin-left: 141px;
			}
		}
	}
	.footer-logo{
	    width: 50%;
	}
	.footer-phone{
	    font-size: 19px;
	    padding-top: 55px;
	    text-align: right;
	}
	.firstScreen{
	    padding-top: 27px;
	    padding-bottom: 27px;

		&-text {
		    padding: 0 20px;
		    h1{
		    	font-size: 22px;
	    		line-height: 32px;
	    		margin-bottom: 20px;
		    } 
		    h3{
	    	    font-size: 19px;
   				line-height: 26px;
		    } 
		} 
	}
	.chart{   
		padding-top: 45px;

		&-item{
			margin-bottom: 45px;
		}
		&-list{
		    padding: 0 0;
		}
		&-box,
		&-title{
			float: none;
			width: 100%;
			padding: 0;
		}
		&-box-info{
			float: none;
		}
		select,
		.selectBox {
			margin-bottom: 10px;
		}
	}
	.contacts{
		&-data{
			width: 100%;
		}
		&-form{
			width: 100%;
		}
	}
}

@media (max-width:480px){
	.header-logo{
		width: 220px;
	}
	.board{
		&-item{
			&-body{
			    margin-left: 0;
			}
			&-image{
				margin-bottom: 10px;
			}
			&-text{
				clear: left;
    			margin: 0;
			}
		}
	}	
	.footer-phone {
	    font-size: 13px;
	    padding-top: 46px;
	}
}