.footer{	
	background: $grey;

	&-logo{
		float: left;
		width: pxtopercent(188);
		padding: 41px 5.74468% 38px 0;
		img{
			-webkit-filter: grayscale(1);
 			filter: grayscale(1);
		}
	}
	&-menu{
		@extend .header-menu;
		float: left;
		width: pxtopercent(590);
		padding-top: 24px;
		ul li{
			padding: 0 10px;
			a{
				font-size: 14px;
			}
		}
	}
	&-phone{
		float: right;
		padding-top: 44px;
	}
}